process.executor = 'slurm'

process {
    withName: build_equiv_groups {
        memory = 300.GB
    }
}

process {
    withName: materialise {
        memory = 96.GB
    }
}

process {
    withName: create_rocks {
        memory = 800.GB
    }
}

process {
    withName: create_solr_nodes_core {
        memory = 150.GB
        cpus = 32
    }
}
process {
    withName: create_solr_edges_core {
        memory = 150.GB
        cpus = 32
    }
}
process {
    withName: create_solr_autocomplete_core {
        memory = 150.GB
        cpus = 32
    }
}



process {
    withName: package_neo {
        cpus = 32
    }
}
process {
    withName: package_rocks {
        cpus = 32
    }
}
process {
    withName: package_solr {
        cpus = 32
    }
}




process {
    withName: create_neo {
        cpus = 32
	memory = 72.GB
    }
}



