process.container = 'ghcr.io/ebispot/grebi_dataload:dev'
//process.containerOptions = '--user $(id -u):$(id -g)'

//singularity.enabled = true
//singularity.runOptions = "--bind ${System.getenv('GREBI_HOME')}:${System.getenv('GREBI_HOME')}"

apptainer.enabled = true
apptainer.runOptions = "--bind ${System.getenv('GREBI_HOME')}:${System.getenv('GREBI_HOME')}"


docker.enabled = false

//process.container = null
//process { withTag: 'withContainer' { container = 'ghcr.io/ebispot/grebi_dataload:dev' } }


//docker.runOptions = "-v ${System.getenv('GREBI_HOME')}:${System.getenv('GREBI_HOME')}"

params.solr_mem = "4G"
params.neo_mem = "4G"
params.neo_query_mem = "4G"

