report.overwrite = true
trace.overwrite = true
timeline.overwrite = true
dag.overwrite = true

process.executor = 'slurm'
process.container = 'ghcr.io/ebispot/grebi_dataload:dev'
singularity.enabled = true
singularity.autoMounts = true

params.solr_mem = "500g"
params.neo_mem = "500g"
params.neo_query_mem = "500g"
params.pg_shared_buffers = "64GB"
params.pg_work_mem = "4GB"
params.pg_maintenance_work_mem = "32GB"
params.pg_max_wal_size = "64GB"
params.pg_build_shared_buffers = "4GB"
params.pg_build_work_mem = "4GB"
params.pg_build_maintenance_work_mem = "64GB"
params.pg_build_max_wal_size = "16GB"
params.pg_build_effective_cache_size = "256GB"
params.integration_neo_heap = "32g"
params.integration_solr_heap = "32g"
params.integration_pg_shared_buffers = "8GB"
params.integration_pg_work_mem = "1GB"
params.integration_pg_maintenance_work_mem = "4GB"
params.integration_pg_max_wal_size = "16GB"

process {
    withName: ingest {
        cpus = 4
    }
}

process {
    withName: build_equiv_groups {
        memory = 300.GB
    }
}

process {
    withName: link {
        memory = 96.GB
    }
}

process {
    withName: merge_ingests {
        memory = 256.GB
    }
}

process {
    withName: index {
        memory = 64.GB
    }
}

process {
    withName: create_neo {
        memory = 1500.GB
        cpus = 32
    }
}

process {
    withName: create_solr_nodes_core {
        memory = 1500.GB
        cpus = 32
        scratch = "ram-disk"
    }
}
process {
    withName: create_solr_autocomplete_core {
        memory = 1500.GB
        cpus = 32
        scratch = "ram-disk"
    }
}
process {
    withName: create_solr_results_cores {
        memory = 1500.GB
        cpus = 32
        scratch = "ram-disk"
    }
}


process {
    withName: create_sqlite {
        memory = 128.GB
    }
}



process {
    withName: prepare_neo {
        memory = 16.GB
        cpus = 32
    }
}
process {
    withName: prepare_solr {
        memory = 16.GB
    }
}


process {
    withName: create_neo_ids_csv {
        memory = 8.GB
    }
}


process {
    withName: package_neo {
        memory = 32.GB
        cpus = 32
    }
}
process {
    withName: package_solr {
        memory = 32.GB
        cpus = 32
    }
}
process {
    withName: prepare_postgres_edges {
        memory = 16.GB
    }
}
process {
    withName: prepare_postgres_nodes {
        memory = 16.GB
    }
}
process {
    withName: create_postgres {
        memory = 1500.GB
        cpus = 32
    }
}


process {
    withName: run_materialised_queries {
        cpus = 8
        memory = 1000.GB
        stageInMode = "copy"
    }
}

process {
    withName: results_to_csv {
        memory = 150.GB
    }
}
process {
    withName: link_results {
        memory = 150.GB
    }
}

process {
    withName: construct_solr {
        memory = 4.GB
    }
}
process {
    withName: construct_release {
        memory = 4.GB
    }
}
process {
    withName: package_release {
        memory = 32.GB
        cpus = 32
    }
}

process {
    withName: test_query_templates {
        memory = 150.GB
    }
}


