process.container = 'ghcr.io/ebispot/grebi_dataload:dev'
process.containerOptions = '--user $(id -u):$(id -g)'
docker.enabled = true
docker.runOptions = "-v ${System.getenv('GREBI_HOME')}:${System.getenv('GREBI_HOME')} -v ${System.getenv('GREBI_DOWNLOADS_PATH')}:${System.getenv('GREBI_DOWNLOADS_PATH')}"

process {
    memory = 2.GB
    cpus = 2
}
