

// In the gh actions workflow for testing, :dev is replaced with
// the specific image tag

process.container = 'ghcr.io/ebispot/grebi_dataload:dev'
process {
    withName: run_integration_tests {
        memory = 4.GB
        container = 'ghcr.io/ebispot/grebi_combined:dev'
    }
}

process.containerOptions = '--user $(id -u):$(id -g)'
docker.enabled = true
docker.runOptions = "-v ${System.getenv('GREBI_HOME')}:${System.getenv('GREBI_HOME')}"

params.solr_mem = "2g"
params.neo_mem = "2g"
params.neo_query_mem = "2g"

process {
    withName: create_solr_nodes_core {
        memory = 4.GB
    }
}
process {
    withName: create_solr_edges_core {
        memory = 4.GB
    }
}
process {
    withName: create_solr_autocomplete_core {
        memory = 4.GB
    }
}
process {
    withName: create_solr_results_cores {
        memory = 4.GB
    }
}
process {
    withName: create_neo {
        memory = 4.GB
    }
}
process {
    withName: assign_ids {
        memory = 4.GB
    }
}
process {
    withName: run_materialised_queries {
        memory = 4.GB
    }
}
